:root {
    --azul: hsl(220, 15%, 55%);
    --branco: hsl(0, 0%, 100%);
    --azul_escuro: hsl(218, 44%, 22%);
    --cinza: hsl(212, 45%, 89%);
 }

body {
    background-color: var(--cinza);
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.conteudo {
    background-color: var(--branco);
    border-radius: 20px;
    padding: 15px;
    text-align: center;
    max-width: 300px;
}

.conteudo_imagem {
    border-radius: 15px;
    max-width: 100%;
}

.conteudo_titulo {
    color: var(--azul_escuro);
    font-weight: 700;
    font-size:  0.9375rem;
    font-family: 'Outfit', sans-serif;
    max-width: 250px;
    text-align: center;
    margin: auto;
    padding: 2em;
}

.conteudo_texto {
    color: var(--azul);
    font-weight: 400;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
    width: 250px;
    text-align: center;
    margin: auto;
    padding: 0 0 1em;
}
